<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wonder Lands</title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Tailwind CSS Play CDN (for development only) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="style/listings.css" />
  </head>

  <body class="bg-gray-50">
    <%- include('../includes/navbar.ejs') %>

    <main class="min-h-screen p-4">
      <%- include('../includes/flash.ejs') %>
      <%- body %>
    </main>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
