<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Listings</title>
  </head>
  <body>
    <h2>All listings</h2>
    <form action="/listings/new" method="get">
      <button>Add New </button>
    </form>
    <% for(let list of listings){ %>
    <p><a href="/listings/<%= list._id %>"><%= list.title %></a></p>
    <% } %>
  </body>
</html>
