<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Listings</title>
  </head>
  <body>
    <h2>All listings</h2>
    <% for(let list of listings){ %>
    <p><%= list.title %></p>
    <% } %> 
  </body>
</html>
